<mat-card>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-card-header>
      <mat-card-title>Modification de la holding</mat-card-title>
      <mat-card-subtitle style="color: red;">
        Attention : ce formulaire ne peut travailler que sur les locations monographies
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="form-field">
        <!-- Localisation -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Localisation (852$c)</mat-label>
          <mat-select formControlName="location" [disabled]="loadingLocations">
            <mat-option *ngFor="let loc of locations" [value]="loc.code">
              {{ loc.name }} ({{ loc.code }})
            </mat-option>
          </mat-select>
          <mat-progress-spinner *ngIf="loadingLocations" mode="indeterminate" diameter="24"></mat-progress-spinner>
          <mat-error *ngIf="form.get('location')?.hasError('required')">
            La localisation est obligatoire.
          </mat-error>
        </mat-form-field>

        <!-- Call number -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Cote (852$h)</mat-label>
          <input matInput formControlName="call_number_value" />
          <mat-error *ngIf="form.get('call_number_value')?.hasError('required')">
            La cote est obligatoire.
          </mat-error>
          <div *ngIf="form.get('call_number_value')?.hasError('invalidCallNumber')">
            Cote invalide : format non reconnu.
          </div>
          <div *ngIf="form.get('call_number_value')?.hasError('callNumberLocationMismatch')">
            Cote invalide : incohérence entre la localisation et la cote.
          </div>
          <div *ngIf="form.get('call_number_value')?.errors?.['callNumberInvalidInPlac'] as err">
            Cote invalide dans Plac : le {{ err.extract.typeValue }} {{ err.extract.mainPart }} n'existe pas dans Plac
          </div>
          <div *ngIf="form.get('call_number_value')?.errors?.['PlacConnexionError'] as err">
            Impossible de se connecter à Plac : contactez l'administrateur.
          </div>
        </mat-form-field>

      </div> 
    </mat-card-content>

    <mat-card-actions>
      <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">
      Enregistrer
      </button>
      <button mat-button type="button" (click)="cancel()">Annuler</button>
    </mat-card-actions>
  </form>
</mat-card>