
<h1>Bienvenue sur l'app Espres !</h1>
<p>Cette application vous permet :</p>
<ul>
  <li>De remettre les exemplaires en présentoir dans les localisations monographies (ou CTLES)
      correspondant à la cote associée à chaque exemplaire dans sa holding ;</li>
  <li>De mettre des exemplaires en présentoir (sauf si plusieurs exemplaires sont rattachés à une
      même holding).</li>
</ul>
<div class="text-error">
  Aucun ensemble détecté sur la page courante !
</div>
<br />
<div class="highlight">
  <b>Attention ! </b>
  <p>Une fois un traitement lancé, attendez la fin de son exécution
  avant de fermer Alma, sinon tous les exemplaires ne seront pas traités.</p>
</div>