<ng-container *ngIf="(entities$ | async) as entities">
  <ng-container *ngIf="isEmpty(entities); else hasEntities">
    <app-no-entities></app-no-entities>
  </ng-container>

  <ng-template #hasEntities>
    <h1>ESPRES</h1>


    <button mat-flat-button color="primary" class="eca-actions single-button" (click)="moveToMonographyLocation()">Remettre en localisation monographie</button>


    <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">
      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Titre</th>
        <td mat-cell *matCellDef="let element">
          {{ isExtended(element) ? (element.details.title | truncate) : '-' }}
        </td>
      </ng-container>

      <!-- Call Number Column -->
      <ng-container matColumnDef="callNumber">
        <th mat-header-cell *matHeaderCellDef>Cote</th>
        <td mat-cell *matCellDef="let element">
          {{ isExtended(element) ? element.details.permanent_call_number : '-' }}
        </td>
      </ng-container>

      <!-- Barcode Column -->
      <ng-container matColumnDef="barcode">
        <th mat-header-cell *matHeaderCellDef>Code-barre</th>
        <td mat-cell *matCellDef="let element">
          {{ isExtended(element) ? element.details.barcode : '-' }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <button mat-flat-button color="primary" class="eca-actions single-button" (click)="moveToMonographyLocation()">Remettre en localisation monographie</button>
  </ng-template>
</ng-container>

<div class="loading-shade" *ngIf="loading">
  <mat-spinner diameter="50"></mat-spinner>
</div>