<p class="text-error">Aucune holding détectée sur la page courante !</p>
<h1>Bienvenue sur l'app Humacheck !</h1>
<p>Cette application vous permet de contrôler :</p>
<ul>
  <li>La validité du format d'une cote lot ou corpus ;</li>
  <li>La cohérence entre cote et localisation ;</li>
  <li>La validité du lot ou du corpus choisi dans Plac.</li>
</ul>
<p>Elle vous permet également de modifier la localisation et la cote en appliquant ces contrôles.</p>
<div class="highlight"><b>Attention ! </b>Cette application ne fonctionne que pour les cotes monographies de LA dans les localisations définitives.</div>
<p>&nbsp;</p>
<div class="highlight"><b>Attention ! </b>Cette application est utilisable sur les écrans de holdings ou dans l'éditeur de métadonnées pour une holding !</div>